### General ###
HELP.md
data.mv.db

### Build Directories ###
target/
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Maven Wrapper ###
!.mvn/wrapper/maven-wrapper.jar

### IDE Specific ###
# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

### Log Files ###
*.log

### Operating System Files ###
.DS_Store
Thumbs.db

### Java ###
*.class
*.jar
data.mv.db
