<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aggiorna Utente</title>
    <link rel="stylesheet" type="text/css" th:href="@{/updateUtente.css}" />
</head>

<body>
    <h1>Aggiornamento utente</h1>
    <p th:text="'Stai aggiornando l\'utente: ' + ${utente.username}"></p>
    <!-- Visualizza l'username dell'utente corrente -->
    <form th:action="@{/updateUtente/{id}(id=${utente.idUtente})}" th:object="${utente}" method="post">
        <label for="username">Nome:</label>
        <input type="text" id="username" th:field="*{username}" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required>
        <br>
        <button type="submit">Salva</button>
        <a href="/utenti">Annulla</a>
    </form>
</body>

</html>