<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Utenti</title>
    <link rel="stylesheet" type="text/css" th:href="@{/userList.css}" />
    <style>

    </style>
</head>

<body>
    <h1>Lista degli Utenti</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${utenti}">
                <td th:text="${user.idUtente}">1</td>
                <td th:text="${user.username}">Nome</td>
                <td th:text="${user.email}">email@example.com</td>
            </tr>
        </tbody>
    </table>
    <a href="/home">Torna alla home</a>
</body>

</html>