<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista Utenti</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
    <h1>Lista degli Utenti</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${utenti}">
                <td th:text="${user.idUtente}">1</td>
                <td th:text="${user.username}">Nome</td>
                <td th:text="${user.email}">email@example.com</td>
            </tr>
        </tbody>
    </table>
</body>

</html>